# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Back/*test.*
*test.*
Data/
Back/__pycache__/


# An example .env file is provided for ease of use, but its actual values should not be committed.
# To ignore changes to .env file, use in terminal:
# git update-index --assume-unchanged .env
# To track changes again, use: 
# git update-index --no-assume-unchanged .env
.env